{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}
{{define "main"}}
    {{with .Snippet}}
        <div class='snippet'>
            <div class='metadata'>
                <strong>{{.Title}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Content}}</code></pre>
            <div class='metadata'>
                <time>Created: {{humanDate .Created}}</time>
                <time>Expires: {{humanDate .Expires}}</time>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <form action="/snippet/delete/{{.ID}}" method="POST" 
                onsubmit="return confirm('You realy want to delete this snippet ?');">
                <button type="submit" class="btn-delete">Удалить сниппет</button>
            </form>
        </div>
    {{end}}
{{end}}